<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>装配建筑统计</title>
    <!--<script>window.location.href="http://202.194.81.21:8080/vue/"</script>-->
</head>
主页面
</html>
<!--<head>-->
    <!--<meta charset=utf-8><title>absmis</title>-->
    <!--<link href="/static/css/app.ff519a5d1af247bf8d46c26e9ac034fc.css" th:href="@{css/app.ff519a5d1af247bf8d46c26e9ac034fc.css}" rel="stylesheet"/>-->
<!--</head>-->
<!--<body>-->
<!--<div id="app"></div>-->
<!--<script type="text/javascript" th:src="@{js/manifest.3356cfce521bd7aea4ff.js}"></script>-->
<!--<script type="text/javascript" th:src="@{js/vendor.108a26c0982dd5b0d1eb.js}"></script>-->
<!--<script type="text/javascript" th:src="@{js/app.f64bddf957c1c60766f1.js}"></script>-->
<!--</body>-->
<!--</html>-->